.alerts-container {
    padding: 20px;
    background: #f8f9fa;
    min-height: 100vh;
}

.alerts-container h2 {
    margin-bottom: 20px;
    color: #124B84;

}

.alerts-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.alerts-container .alerts-table thead th {
    background: #124B84 !important;
    color: #ffffff !important;
}


.alerts-table th,
.alerts-table td {
    padding: 12px 14px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.alerts-table tr:last-child td {
    border-bottom: none;
}

.alerts-table tbody tr:hover {
    background: #f1f1f1;
}

.warning,
.critical {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.warning {
    background: #f06b29;
}

.critical {
    background: #f32b24;
}

.no-alerts {
    background: #fff;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.error {
    color: red;
    font-weight: bold;
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}